.mainContainer {
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  position: relative;
}

.loading,
.error,
.adminMessage {
  text-align: center;
  padding: 20px;
  font-size: 18px;
}

.profileSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.userInfo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 16px;
  color: #333b69;
}
.emptyEcos{
  text-align: center;
  font-weight: 650;
  color: #5872a3;
}
.diagnosticsSection {
  margin-bottom: 40px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.btnSubmit {
  box-sizing: border-box;
  width: max-content;
  align-self: flex-end;
}

@media (max-width: 600px) {
  .content {
    padding: 20px;
  }

  .profileSection {
    margin-top: 0;
  }

  .userInfo {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
